<% /** * views/partials/nav.ejs */ %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img src="./images/logo.png" alt="Mauricio's Ecommerce"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if (false) { %>
      <div class="userInfo">
        <img src="<%= user.foto %>" alt="<%= user.userName %>" class="avatar" />
        <div class="userInfoWrap">
          Bienvenido <span><%= user.userName %></span>
        </div>
      </div>
      <% } %>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Productos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/productos">Ver Productos</a>
            </li>
            <% if (false) { %>
            <li>
              <a class="dropdown-item" href="/agregar">Agregar Productos</a>
            </li>
            <% } %>
          </ul>
        </li>
        <% if (false) { %>
        <li class="nav-item">
          <a class="nav-link" href="/carrito">Carrito</a>
        </li>
        <% } %>

        <li class="nav-item ms-auto">
          <% if (false) { %>
          <a class="nav-link btn btn-danger btn-logout" href="/logout"
            >Logout</a
          >
          <% } else { %>
          <a class="nav-link btn btn-primary btn-login text-white" href="/login"
            >Login</a
          >
          <% } %>
        </li>
      </ul>
    </div>
  </div>
</nav>
